<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"> Verify OTP
      </h1>
      <form action="/users/verify-otp" method="POST">
        <div class="form-group">
            <label for="verify-otp">Enter OTP</label>
            <input type="text"  class="form-control" name="verifyotp" id="verify-otp" placeholder="Enter One Time Password"  >
        </div>
        <button type="submit" class="btn btn-primary btn-block">
        VERIFY
        </button>
      </form>
      </div>
      </div>
      </div>